server:
  port: 8081

app:
  commonUrl: /orders
  inventory:
    inventoryUrl: http://localhost:8082/inventory

spring:
  datasource:
    url: jdbc:h2:mem:inventorydb;DB_CLOSE_DELAY=-1;MODE=MYSQL
    username: koerber
    password:
  jpa:
    hibernate:
      ddl-auto: update
      naming:
        physical-strategy: org.hibernate.boot.model.naming.PhysicalNamingStrategyStandardImpl
    show-sql: true
  h2:
    console:
      enabled: true
      path: /h2-console

logging:
  level:
    org:
      springframework: info